<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
    
 <img src="img/logo.png" width="100px" height="100px">
    <br>
    {{{body}}}
 
</body>
</html>